
.container-3w7J-x[aria-label*="SERVER_NAME"]:before {
      --title-custom: #184c88;
}


.container-3w7J-x[aria-label*="BetterDiscord"]:before {
      --title-custom: #3b77c4;
}

.container-3w7J-x[aria-label*="CapnKitten"]:before {
      --title-custom: #184c88;
}
